/* Estilizando o corpo da página */
body {
    font-family: Arial, sans-serif;
}

/* Estilizando o container do formulário */
.container {
    margin: 0 auto;
    width: 500px;
    padding: 20px;
}

/* Estilizando o título */
h1 {
    text-align: center;
}

/* Estilizando os labels */
label {
    display: block;
    margin-bottom: 5px;
}

/* Estilizando os campos de entrada */
input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilizando o botão de submit */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilizando o botão "Visualizar" */
a button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    background-color: #008CBA;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
